@model UpdatePatientDto
@{
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
@await Component.InvokeAsync("_AdminLayoutHeadComponentPartial")
@await Component.InvokeAsync("_LineChartHeadComponentPartial")
<!DOCTYPE html>
<html lang="en">
<body class="sidebar-mini">
    <div class="wrapper">
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>Hasta Güncelleme Formu</h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-home"></i> Ana Sayfa</a></li>
                    <li class="active"><i class="fa fa-envelope-o"></i> Form</li>
                    <li class="active"><i class="fa fa-envelope"></i> Hasta Güncelleme Formu</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="chart-box">
                            <h4>Hasta Profili</h4>
                            <div class="row">
                                <form method="post">
                                    <input type="hidden" asp-for="PatientID"/>
                                    <div class="col-md-6">
                                        <div class="form-group has-feedback">
                                            <label class="control-label">Ad</label>
                                            <input type="text" asp-for="PatientName" class="form-control" placeholder="Ad">
                                            <span class="fa fa-user form-control-feedback" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group has-feedback">
                                            <label class="control-label">Soyad</label>
                                            <input type="text" asp-for="PatientSurname" class="form-control" placeholder="Soyad">
                                            <span class="fa fa-user form-control-feedback" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group has-feedback">
                                            <label class="control-label">Telefon</label>
                                            <input type="text" asp-for="Phone" class="form-control" placeholder="Telefon">
                                            <span class="fa fa-phone form-control-feedback" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group has-feedback">
                                            <label class="control-label">Şehir</label>
                                            <input type="text" asp-for="City" class="form-control" placeholder="Şehir">
                                            <span class="fa fa-phone form-control-feedback" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group has-feedback">
                                            <label class="control-label">İlçe</label>
                                            <input type="text" asp-for="District" class="form-control" placeholder="İlçe">
                                            <span class="fa fa-phone form-control-feedback" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group has-feedback">
                                            <label class="control-label">Mahalle</label>
                                            <input type="text" asp-for="Neighborhood" class="form-control" placeholder="Mahalle">
                                            <span class="fa fa-phone form-control-feedback" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group has-feedback">
                                            <label class="control-label">Cadde</label>
                                            <input type="text" asp-for="Street" class="form-control" placeholder="Cadde">
                                            <span class="fa fa-phone form-control-feedback" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group has-feedback">
                                            <label class="control-label">Numara</label>
                                            <input type="number" asp-for="Number" class="form-control" placeholder="Numara">
                                            <span class="fa fa-phone form-control-feedback" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group has-feedback">
                                            <label class="control-label">Görsel Yolu</label>
                                            <input type="text" asp-for="Imageurl" class="form-control" placeholder="Görsel Yolu">
                                            <span class="fa fa-phone form-control-feedback" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-success">Güncelle</button>
                                        <a href="/AdminPatient/PatientList/" class="btn btn-primary">İptal</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- content -->
        </div>
    </div>
    @await Component.InvokeAsync("_AdminLayoutScriptComponentPartial")
</body>
</html>