@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404.html</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <link rel="stylesheet" href="~/Dashboard/html/UI/css/style.css">
</head>

<body>
    <div class="error-page-container">
        <div class="error-page-content">
            <div class="error-page-thumbnail">
                <img src="~/Dashboard/html/UI/images/BearWithTelescope.png" alt="">
            </div>
            <div class="error-page-info">
                <h1>404 Sayfa Bulunamadı</h1>
                <p>Aradığınız Sayfa Mevcut Değil!</p>
            </div>
        </div>
    </div>
    <script src="~/Dashboard/html/UI/js/app.js"></script>
</body>

</html>