@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Kayıt Yönlendirme Sayfası</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/Dashboard/html/bootstrap/css/bootstrap.min.css">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- Template style -->
    <link rel="stylesheet" href="~/Dashboard/html/dist/css/style.css">
    <link rel="stylesheet" href="~/Dashboard/html/pages/et-line-font/et-line-font.css">
    <link rel="stylesheet" href="~/Dashboard/html/pages/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="~/Dashboard/html/dist/weather/weather-icons.min.css">
    <link type="text/css" rel="stylesheet" href="~/Dashboard/html/dist/weather/weather-icons-wind.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>
 
<body class="body-bg-color">
    <div class="wrapper">
        <div class="form-body">
            <form class="col-form">
                <div class="col-logo"><img alt="" src="~/Dashboard/html/dist/img/logo-lg.png"></div>
                <header>Kayıt Yönlendirme Sayfası</header>
                <footer class="text-right">
                    <section>
                        <div class="form-group has-feedback">
                            <a href="/Register/PatientRelativeRegister/" class="btn btn-info" style="display:flex;align-items:center;justify-content:center;">Hasta Yakını Kayıt Paneline Git</a>
                        </div>
                    </section>
                    <section>
                        <div class="form-group has-feedback">
                            <a href="/Register/DoctorRegister/" class="btn btn-primary" style="display:flex;align-items:center;justify-content:center;">Doktor Kayıt Paneline Git</a>
                        </div>
                    </section>
                    <section>
                        <div class="form-group has-feedback">
                            <a href="/Login/Index/" class="btn btn-warning" style="display:flex;align-items:center;justify-content:center;">Giriş Yönlendirme Sayfasına Git</a>
                        </div>
                    </section>
                </footer>
            </form>
        </div>
    </div>
    <script src="~/Dashboard/html/dist/js/jquery.min.js"></script>
    <script src="~/Dashboard/html/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Dashboard/html/dist/js/ovio.js"></script>
</body>
</html>