@*_AdminLayoutNavbarComponentPartial*@
<header class="main-header dark-bg">

    <!-- Logo -->
    <a href="~/Dashboard/html/index.html" class="logo dark-bg">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><img src="~/Dashboard/html/dist/img/logo.png" alt="Ovio"></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><img src="~/Dashboard/html/dist/img/logo-lg.png" alt="Ovio"></span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- User Account Menu -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img src="~/Dashboard/html/dist/img/img1.jpg" class="user-image" alt="User Image"> <span class="hidden-xs">Admin</span> </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <div class="pull-left user-img"><img src="~/Dashboard/html/dist/img/img1.jpg" class="img-responsive" alt="User"></div>
                            <p class="text-left">Admin</p>
                        </li>
                        <li><a href="/Login/LogOut/"><i class="fa fa-power-off"></i> Çıkış Yap</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>